.pok {
   width: 180px;
   /* Mets la largeur souhaitée */
   height: auto;
   /* Garde le ratio */
   display: block;
   margin: 0 auto 20px auto;
   /* Centre l'image et ajoute un espace en bas */
}